@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanova-bold-webfont.eot');
    src:    url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/proximanova-bold-webfont.woff') format('woff'), 
            url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
            url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanova-semibold-webfont.eot');
    src:    url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'), 
            url('../fonts/proximanova-semibold-webfont.woff') format('woff'), 
            url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), 
            url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanova-light-webfont.eot');
    src:    url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/proximanova-light-webfont.woff') format('woff'), 
            url('../fonts/proximanova-light-webfont.ttf') format('truetype'), 
            url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanova-regular-webfont.eot');
    src:    url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/proximanova-regular-webfont.woff') format('woff'), 
            url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), 
            url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanova-regularitalic-webfont.eot');
    src:    url('../fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/proximanova-regularitalic-webfont.woff') format('woff'), 
            url('../fonts/proximanova-regularitalic-webfont.ttf') format('truetype'), 
            url('../fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src:    url('../fonts/proximanovat-thin-webfont.eot');
    src:    url('../fonts/proximanovat-thin-webfont.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/proximanovat-thin-webfont.woff2') format('woff2'), 
            url('../fonts/proximanovat-thin-webfont.woff') format('woff'), 
            url('../fonts/proximanovat-thin-webfont.ttf') format('truetype'), 
            url('../fonts/proximanovat-thin-webfont.svg#proxima_nova_thinthin') format('svg');
    font-weight: 100;
    font-style: normal;
}
