@import url('reset.css');
@import url('fonts.css');

html {
	font-size: 16px;
}

body {
	font-family: 'Proxima Nova', sans-serif;
	padding-left: 159px;
	background: #053159;
	color: #ffffff;
	max-width: 100%;
	width: 100vw;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#header {
	width: 159px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #071726;
	z-index: 10;
}

	#header h1 {
		width: 159px;
		height: 20%;
		height: 20vh;
		background: #04182a;
		background: rgba(4, 24, 42, .9);
		border-left: 5px solid #065fb3;
		border-bottom: 1px solid #202f3b;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
	}

		#header h1 a {
			width: 100%;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
			text-indent: -9999px;
			overflow: hidden;
			background: url('../imgs/logo_menu.png') center no-repeat;
		}

	#header .menu  {
		height: 80%;
	}

	#header .menu .nav  {
		height: 75%;
	}

	#header .nav li {
		width: 159px;
		height: 23%;
		height: 20vh;
		background: #0a1924;
		border-bottom: 1px solid #202f3b;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: table;
    	vertical-align: middle;
    	text-align: center;
	}

	#header .nav li:hover {
		background: #041525;
		background: rgba(4, 21, 37, 1);
	}

		#header .nav li a {
			width: 100%;
			height: 100%;
			display: table-cell;
    		vertical-align: middle;
    		font-size: 17px;
    		font-size: 1.063rem;
    		color: #ffffff;
    		text-decoration: none;
    		padding: 20px;
		}

		#header .nav li.menu01 {
			border-left: 5px solid #6ec05d;		
		}
		
		#header .nav li.menu02 {
			border-left: 5px solid #ffd530;		
		}
		
		#header .nav li.menu03 {
			border-left: 5px solid #008fd5;	
		}

	#header .social {
		width: 159px;
		height: 25%;
		height: 20vh;
		background: #0a1924;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-left: 5px solid #227d1d;
		padding: 20px;
		text-align: center;
	}
	#header .social:hover {
		background: #0a1924;
	}

		#header .social li {
			display: inline-block;
		}

		#header .social li a {
			width: 36px;
			height: 36px;
			display: block;
			text-indent: -9999px;
			overflow: hidden;
			opacity: .45;
			filter: alpha(opacity=45);
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}

		#header .social li a:hover {
			opacity: 1;
			filter: alpha(opacity=100);
		}

		#header .social li .facebook {
			background: url('../imgs/icon_facebook_w.png') center no-repeat;
		}

		#header .social li .linkedin {
			background: url('../imgs/icon_linkedin_w.png') center no-repeat;			
		}

		#header .social li .youtube {
			background: url('../imgs/icon_youtube_w.png') center no-repeat;			
		}

		#header .social li .googleplus {
			background: url('../imgs/icon_gplus_w.png') center no-repeat;			
		}

	#header .openmenu {
		display: none;
	}

#webdoor {
	height: 100vh;
	position: relative;
	background: url('../imgs/bg_webdoor.png') center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#webdoor .content{
	text-align: center;
	max-width: 950px;
	width: 90%;
}

#webdoor .content h2 {
	font-size: 80px;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
	line-height: 87px;
	line-height: 5.438rem;
}

#webdoor .content p {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 32px;
	line-height: 2rem;
}

#delivery {
	position: relative;
}

	#delivery .inner-delivery {
		position: relative;
		height: 600px;
		background: url('../imgs/bg_entregas.png') center no-repeat fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}

	#delivery .tabinner .list-type {
		text-align: center;
		margin-bottom: 90px;
	}

	#delivery .tabinner .list-type li {
		display: inline-block;
		margin: 0 20px;
		vertical-align: middle;
		
	}
	
	#delivery .tabinner .list-type li:before {
		content: '';
		width: 19px;
		height: 19px;
		display: inline-block;
		border-radius: 50%;
		margin: 0 10px 0 0;
		vertical-align: middle;
	}

	#delivery .tabinner .type01:before {
		background: #008fd5;
	}
	
	#delivery .tabinner .type02:before {
		background: #e9cd50;		
	}

	#delivery .tabinner .type03:before {
		background: #08a19c;		
	}

	#delivery .inner-delivery .content{
		text-align: center;
		max-width: 950px;
		width: 90%;
	}

	#delivery .tab-flaps{
		text-align: center;
		border-bottom: 1px solid #1d456a;
		margin: -60px 0 0 0;
		position: relative;
	}

	#delivery .tab-flaps li{
		font-size: 18px;
		font-size: 1.125rem;
		text-align: center;
		display: inline-block;
		border: 1px solid #1d456a;
		border-radius: 5px 5px 0 0;
		vertical-align: top;
		margin: 0 10px -1px 10px;
	}
	
	#delivery .tab-flaps li a{
		padding: 20px 30px;
		text-decoration: none;
		display: inline-block;
		color: #66778d;

	}
	#delivery .tab-flaps li.active{
		background: #053057;
		border-bottom: 1px solid #053057;
	}

	#delivery .tab-flaps li.active a{
		color: #ffffff;
	}

		#delivery .content h3 {
			font-size: 45px;
			font-size: 2.813rem;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 25px;
			max-width: 630px;
			font-weight: 700;
		}

		#delivery .content p {
			font-size: 20px;
			font-size: 1.25rem;
			line-height: 28px;
			line-height: 1.75rem;
		}

		#delivery .tab-area h4 {
			display: none;
		}

		#delivery .delivery-slide li {
			width: 33.3%;
			float: left;
			display: block;
			display: inline-block;
		}

		#delivery .tab-area {
			padding: 93px 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: none;
		}

		#delivery .tab-area.active {
			display: block;
		}

		#delivery .testimonials {
			width: 100%;
			background: url('../imgs/bg_depoimentos.png') top center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			padding: 155px 0;
			margin: 90px 0 -95px 0;
			text-align: center;
		}

			#delivery .testimonials h5 {
				font-size: 45px;
				font-size: 2.813rem;
				font-weight: 800;
				margin: 0 0 135px 0;
			}

			#delivery .testimonials .item {
				position: relative;
			}

				#delivery .testimonials .item blockquote {
					max-width: 1100px;
					width: 80%;
					margin: 0 auto;
					padding: 48px 0 48px 20%;
					text-align: left;
					font-size: 35px;
					font-size: 2.188rem;
				}

				#delivery .testimonials .item.child_1 blockquote {
					background: url('../imgs/quote_01.png') center left no-repeat;
				}

				#delivery .testimonials .item.child_2 blockquote {
					background: url('../imgs/quote_02.png') center left no-repeat;
				}

				#delivery .testimonials .item.child_3 blockquote {
					background: url('../imgs/quote_03.png') center left no-repeat;
				}


					#delivery .testimonials .item blockquote cite {
						font-weight: 600;
						padding-top: 24px;
						display: block;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}

				#delivery .testimonials .item:before {
					content: '';
					width: 80%;
					height: 1px;
					display: block;
					position: absolute;
					border-bottom: 1px solid #375b7b;
					bottom: 0;
				}

				#delivery .testimonials .item:nth-child(odd):before {
					right: 0;
				}

				#delivery .testimonials .item:nth-child(even):before {
					left: 0;
				}


#olimpians {
	background: url('../imgs/bg_olimpiadas.png') center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 0 0 150px 0;
}

	#olimpians .container {
		padding: 150px 0 100px 0;
		text-align: center;
	}

		#olimpians .container h3 {
			font-size: 45px;
			font-size: 2.813rem;
			line-height: 50px;
			line-height: 3.125rem;
			font-weight: 700;
		}

		#olimpians .content p {
			font-size: 20px;
			font-size: 1.25rem;
			line-height: 32px;
			line-height: 2rem;
			max-width: 740px;
			width: 90%;
		}


	#olimpians .grid-videos {
		max-width: 1220px;
		height: 1035px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	
		#olimpians .grid-videos li {
			width: 100%;
			position: absolute;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			overflow: hidden;
			display: inline-block;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			background: rgba(0,0,0,.3);
		}
				
		#olimpians .list-videos li a {
			width: 100%;
			display: table;
			vertical-align: middle;
			height: 100%;
			position: relative;
			text-decoration: none;
		}
		
		#olimpians .list-videos li a span {
			width: 100%;
			height: 100%;
			display: table-cell;
			padding: 10px;	
			vertical-align: bottom;
			background: url('../imgs/bg_play.png') center no-repeat;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			color: #ffffff;
			text-decoration: none;
			font-size: 1.063rem;
			font-weight: 600;
		}

		#olimpians .list-videos li.video-s01 a span {
			background: url('../imgs/bg_play_2.png') center no-repeat;
			font-size: 27px;
			font-size: 1.688rem;
			text-align: center;
			vertical-align: middle;
			padding-top: 200px;
		}

		#olimpians .list-videos li.video-s02 a , #olimpians .list-videos li.video-s03 a {
			font-size: 1.563rem;
		}

		#olimpians .grid-videos li.video-s01 {
			width: 610px;
			height: 590px;
			top: 0;
		}

		#olimpians .list-videos li.video-s01 a {
			width: 610px;
			height: 590px;
			background: url('../imgs/vids/vid_01.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s02 {
			width: 585px;
			height: 335px;
			top: 0;
			left: 620px;
		}

		#olimpians .list-videos li.video-s02 a {
			width: 585px;
			height: 335px;
			background: url('../imgs/vids/vid_02.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s03 {
			width: 585px;
			height: 245px;
			top: 345px;
			left: 620px;
		}

		#olimpians .list-videos li.video-s03 a {
			width: 585px;
			height: 245px;
			background: url('../imgs/vids/vid_03.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s04 {
			width: 270px;
			left: 0px;
		}

		#olimpians .list-videos li.video-s04 a {
			width: 270px;
			background: url('../imgs/vids/vid_04.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s05 {
			width: 235px;
			left: 280px;
		}

		#olimpians .list-videos li.video-s05 a {
			width: 235px;
			background: url('../imgs/vids/vid_05.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s06 {
			width: 155px;
			left: 525px;
		}

		#olimpians .list-videos li.video-s06 a {
			width: 155px;
			background: url('../imgs/vids/vid_06.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s07 {
			width: 330px;
			left: 690px;
		}

		#olimpians .list-videos li.video-s07 a {
			width: 330px;
			background: url('../imgs/vids/vid_07.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s08 {
			width: 175px;
			left: 1030px;
		}

		#olimpians .list-videos li.video-s08 a {
			width: 175px;
			background: url('../imgs/vids/vid_08.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s09 {
			width: 270px;
			left: 0;
		}
		#olimpians .list-videos li.video-s09 a {
			width: 270px;
			background: url('../imgs/vids/vid_09.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s10 {
			width: 370px;
			left: 280px;
		}

		#olimpians .list-videos li.video-s10 a {
			width: 370px;
			background: url('../imgs/vids/vid_10.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s11 {
			width: 380px;
			left: 660px;
		}

		#olimpians .list-videos li.video-s11 a {
			width: 380px;
			background: url('../imgs/vids/vid_11.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s12 {
			width: 155px;
			left: 1050px;
		}

		#olimpians .list-videos li.video-s12 a {
			width: 155px;
			background: url('../imgs/vids/vid_12.jpg') center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}

		#olimpians .grid-videos li.video-s04,
		#olimpians .grid-videos li.video-s05,
		#olimpians .grid-videos li.video-s06,
		#olimpians .grid-videos li.video-s07,
		#olimpians .grid-videos li.video-s08 {
			top: 600px;
		}

		#olimpians .grid-videos li.video-s09,
		#olimpians .grid-videos li.video-s10,
		#olimpians .grid-videos li.video-s11,
		#olimpians .grid-videos li.video-s12 {
			top: 820px;
		}

		#olimpians .grid-videos li.video-s04,
		#olimpians .grid-videos li.video-s05,
		#olimpians .grid-videos li.video-s06,
		#olimpians .grid-videos li.video-s07,
		#olimpians .grid-videos li.video-s08,
		#olimpians .grid-videos li.video-s09,
		#olimpians .grid-videos li.video-s10,
		#olimpians .grid-videos li.video-s11,
		#olimpians .grid-videos li.video-s12 {
			height: 210px;
		}

#company {
	
}

	#company .title {
		display: inline-block;
		float: left;
		width: 50%;
		min-height: 100vh;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		background: url('../imgs/bg_endimg.jpg') left center no-repeat fixed;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		padding: 30px;
	}

		#company .title h4 {
			font-size: 45px;
			font-size: 2.813rem;
			line-height: 50px;
			line-height: 3.125rem;
			font-weight: 700;
		}

	#company form {
		display: block;
		display: inline-block;
		float: left;
		width: 50%;
		min-height: 100vh;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		background: url('../imgs/bg_form.png') right center no-repeat fixed;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		padding: 30px;
	}

	#company form .innerform {
		width: 90%;
		max-width: 380px; 
	}

	#company form h5 {
		font-size: 34px;
		font-size: 2.125rem;
		line-height: 35px;
		line-height: 2.188rem;
		font-weight: 700;
		color: #2f2f2f;
		display: block;
		width: 80%;
		border-bottom: 1px solid #a6a6a6;
		padding: 0 0 16px 0;
		margin: 0 0 16px 0;

	}

	#company form p {
		font-size: 21px;
		font-size: 1.313rem;
		color: #676767;
		padding: 0 0 40px 0;
	}

	#company form label {
		display: block;
		font-weight: 700;
		color: #4c4c4c;
		margin: 0 0 5px 0;
	}

	#company form input {
		display: block;
		border: 1px solid #cccccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #ffffff;
		max-width: 324px;
		width: 100%;
		height: 55px;
		margin-bottom: 20px;
	}

	#company form input.hide {
		display: none;
	}

	#company form label.fake-check {
		display: inline-block;
		padding: 15px 28px;
		background: #ffffff;
		border: 1px solid #cccccc;
		border-right: none;
		font-weight: 400;
		color: #b3b3b3;
		float: left;
		margin: 0;
		cursor: pointer;
	}

	#company form label.fake-check.group-start {
		border-radius: 5px 0 0 5px;
	}

	#company form label.fake-check.group-end {
		border-radius: 0 5px 5px 0;
		border-right: 1px solid #cccccc;
	}

	#company form label.fake-check.active {
		background: #7fc241;
		color: #e9e9e9;
	}

	#company form input.submit {
		background: #004e94;
		color: #e9e9e9;
		font-weight: 700;
		margin-top: 30px;
	}

	.modal {
		position: fixed;
		width: 100%;
		height: 100%;
		display: none;
		background: #000;
		top: 0;
		left: 0;
		z-index: 99;
	}

		.modal iframe {
			width: 100%;
			height: 100%;
			display: block;
		}

		.modal .closemodal {
			position: absolute;
			top: 50px;
			right: 15px;
			width: 30px;
			height: 30px;
			background: url('../imgs/close.png') center no-repeat;
		}

@media only screen and (max-width : 1385px) {
	#olimpians .grid-videos {
		width: 610px;
		height: 2100px;
	}

	#olimpians .grid-videos li.video-s02 {
		width: 610px;
		top: 600px;
		top: 600px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s02 a {
		width: 610px;
	}
	
	#olimpians .grid-videos li.video-s03 {
		width: 610px;
		top: 945px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s03 a {
		width: 610px;
	}

	#olimpians .grid-videos li.video-s04 {
		top: 1200px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s04 a {
		
	}

	#olimpians .grid-videos li.video-s05 {
		width: 330px;
		top: 1200px;
		left: 280px;
	}

	#olimpians .grid-videos li.video-s05 a {
		width: 330px;
	}

	#olimpians .grid-videos li.video-s06 {
		top: 1420px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s07 {
		width: 260px;
		top: 1420px;
		left: 165px;
	}

	#olimpians .grid-videos li.video-s07 a {
		width: 260px;
	}

	#olimpians .grid-videos li.video-s08 {
		top: 1420px;
		left: 435px;
	}

	#olimpians .grid-videos li.video-s09 {
		top: 1640px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s10 {
		width: 330px;
		top: 1640px;
		left: 280px;
	}
	#olimpians .grid-videos li.video-s10 a {
		width: 330px;
	}

	#olimpians .grid-videos li.video-s11 {
		top: 1860px;
		left: 0;
	}

	#olimpians .grid-videos li.video-s12 {
		width: 220px;
		top: 1860px;
		left: 390px;
	}

	#olimpians .grid-videos li.video-s12 a {
		width: 220px;
	}

}

@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 992px) {

	
	body {
		padding-left: 0px;
		padding-top: 100px;
	}

	.bx-wrapper .bx-viewport {
		border: none;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.bx-prev, .bx-next {
		display: none;
	}

	#header {
		width: 100%;
		height: 100px !important;
	}

		#header h1 {
			height: 100%;
			border-bottom: none;
			border-left: none;
		}

		#header .menu {
			display: none;
		}

		#header .menu.active {
			display: block;
			width: 100%;
		}

		#header .nav li {
			width: 100%;
		}

		#header .social {
			width: 100%;
		}

		#header .openmenu {
			display: block !important;
			position: absolute;
			top: 35px;
			right: 30px;
			width: 30px;
			height: 30px;
			background: url('../imgs/open.png') center no-repeat;
		}

		#header .openmenu.active {
			background: url('../imgs/close.png') center no-repeat;
		}

	#webdoor .content h2 {
		font-size: 21px;
		font-size: 1.313rem;
		line-height: 22px;
		line-height: 1.375rem;
		text-transform: uppercase;
	}

	#webdoor .content p {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 22px;
		line-height: 1.375rem;
	}

	#delivery .content h3 {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 28px;
		line-height: 1.75rem;
	}
	
	#delivery .content p {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 22px;
		line-height: 1.375rem;
	}

	#delivery .delivery-slide li {
		width: 50%;
	}

	#delivery .tab-flaps{
		display: none;
	}

	#delivery .tab-area h4 {
		display: block;
		padding: 30px;
		border-top: 1px solid #1e476c;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 22px;
		line-height: 1.375rem;
	}

	#delivery .tab-area h4:after {
		content: '';
		float: right;
		width: 19px;
		height: 19px;
		display: block;
		margin: 0 0 0 10px;
	}

	#delivery .tab-area h4:after {
		background: url('../imgs/bg_title_close.png') 0 0 no-repeat;
	}

	#delivery .tab-area.active h4:after {
		background: url('../imgs/bg_title_open.png') 0 0 no-repeat;		
	}

	#delivery .tab-area{
		display: block;
		padding: 0;
	}

	#delivery .tabinner .list-type {
		max-width: 250px;
		width: 90%;
		padding: 40px 0 0 0;
	}

	#delivery .tabinner .list-type li {
		display: block;
		padding: 10px 0;
		text-align: left;
	}

	#delivery .tabinner {
		height:0px;
		overflow:hidden;
	}

	#delivery .tab-area.active .tabinner {
		height: auto;
		overflow: visible;
	}
	#delivery .delivery-slide img{
		max-width: 286px;
		width: 100%;
		display: block;
		height: auto;
		margin: 0 auto;
	}

	#delivery .testimonials {
		padding: 75px 0;
	}

	#delivery .testimonials h5 {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 28px;
		line-height: 1.75rem;
		padding: 0;
		margin: 0;
	}

	#delivery .testimonials .item blockquote {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 22px;
		line-height: 1.375rem;
	}

	#olimpians .list-videos li a span{
		text-transform: uppercase;
		font-size: 15px !important;
		font-size: 0.9375rem !important;
		line-height: 18px !important;
		line-height: 1.125rem !important;
		vertical-align: bottom !important;
		text-align: center;
	}
	

	#olimpians .container h3 {
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 28px;
		line-height: 1.75rem;
	}
	
	#olimpians .container p {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 22px;
		line-height: 1.375rem;
	}

	#olimpians .list-videos li.video-s01 ,
	#olimpians .list-videos li.video-s02 ,
	#olimpians .list-videos li.video-s03 ,
	#olimpians .list-videos li.video-s04 ,
	#olimpians .list-videos li.video-s05 ,
	#olimpians .list-videos li.video-s06 ,
	#olimpians .list-videos li.video-s07 ,
	#olimpians .list-videos li.video-s08 ,
	#olimpians .list-videos li.video-s09 ,
	#olimpians .list-videos li.video-s10 ,
	#olimpians .list-videos li.video-s11 ,
	#olimpians .list-videos li.video-s12 { 
		
	}

	#olimpians .list-videos li a { 
		width: 250px !important;
		height: 290px !important;
		margin: 0 auto;
	}

	#company .title,
	#company form {
		width: 100%;
	}

	#company .title h4 {
		font-size: 25px;
		font-size: 1.563rem;
		line-height: 26px;
		line-height: 1.625rem;
	}

	#company form label.fake-check {
		padding: 15px 21px;
	}

}

@media only screen and (max-width : 768px) {
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

	#delivery .testimonials .item blockquote {
		width: 70%;
		padding: 48px 0 48px 30%;
	}

    #company form label.fake-check {
    	padding: 15px 13px;
    }
}