
@media only screen and (max-width : 992px) {
	#header .menu {
		height: auto;
	}

	#header .nav li {
		border-left: none !important;
	}

	#header .social {
		display: block;
		border-left: none !important;
	}

	#webdoor {
		padding-top: 300px;
		height: 212px !important;
	}

	.bx-prev, .bx-next {
		display: block !important;
	}

	.bx-wrapper .bx-viewport {
		height: 300px !important;
	}

	#company .title {
		height: 400px;
		behavior: url(backgroundsize.min.htc);
	}

	#company .form {
		height: 400px;
		behavior: url(backgroundsize.min.htc);
	}


	#company .content {
		margin: 400px 0 0 0;
	}
}
